
.contacto-items {
    background-color: #ddd;
    width: 100%;
    height: 900px;
    padding: 50px;
    border-radius: 20px;
    border: 3px solid #b5b5b5;
}

.contacto-titulo {
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px;
}

.texto-datos {
    font-size: 23px;
    padding-bottom: 25px;
}

.texto-datos img {
    height: 30px;
}

.redes-titulo {
    font-size: 30px;
    margin-top: 50px;
}

.redes {
    gap: 40px;
    margin: 0;
}

.redes img {
    height: 80px;
    transition: scale 500ms;
}

.redes img:hover {
    scale: 120%;
    
}

.playstation{
    font-size: 35px;
    color: #006FCD;
    margin-top: 50px;
    padding:35px;
}

.lista-playstation{
    margin-right: 650px;
    
}

.lista-playstation img{
    height: 55px;
    padding: 10px;
    border-radius: 10px;
    transition: scale 600ms;
}

.lista-playstation img:hover{
    scale: 120%;
}